<p *ngIf="!photos.length" class="text-center text-muted">Sorry, no photo</p>

<ol class="list-unstyled">
    <li *ngFor="let cols of rows" class="row no-gutters">
        <div *ngFor="let photo of cols" class="col-4" apDarkenOnHover>
            <ap-card [title]="photo.description">
                <ap-photo [url]="photo.url" [description]="photo.description"></ap-photo>
                <div class="text-center p-1">
                    <i aria-hidden="true" class="far fa-heart fa-1x mr-2"></i>{{ photo.like }}
                    <i aria-hidden="true" class="far fa-comment fa-1x mr-2 ml-2"></i> {{ photo.comment }}
                </div>
            </ap-card>
        </div>
    </li>
</ol>